flake8==3.7.9
mccabe==0.6.1
entrypoints==0.3
cycler==0.10.0
japanize-matplotlib==1.1.2
kiwisolver==1.2.0
matplotlib==3.2.1
numpy==1.22.0
pandas==1.0.3
pycodestyle==2.5.0
pyflakes==2.1.1
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2019.3
six==1.14.0
mecab-python3==0.996.5
pydot3==1.0.9
pydot-ng==2.0.0